In [29]:
L=[5,4,6,8,5]

In [30]:
print(L)

[5, 4, 6, 8, 5]

In [31]:
L.insert(3,3)

In [32]:
L.pop()

5

In [33]:
L

[5, 4, 6, 3, 8]

In [34]:
L.append(12)

In [35]:
L

[5, 4, 6, 3, 8, 12]

In [36]:
L.remove(8)

In [37]:
L

[5, 4, 6, 3, 12]

In [38]:
L.pop(1)

4

In [39]:
del L[1]

In [40]:
L

[5, 3, 12]

In [41]:
L

[5, 3, 12]

In [46]:
#Reverse a list in python

In [47]:
L=[20,30,25,60,41,23,78,89]
L=L[::-1]
print(L)

[89, 78, 23, 41, 60, 25, 30, 20]

In [48]:
L=[20,30,25,60,41,23,78,89]
L.reverse()
L

[89, 78, 23, 41, 60, 25, 30, 20]

In [49]:
#Concatenate two lists index-wise

In [50]:
L1=[20,30,25,60,41,23,78,89]
L2=[89, 78, 23, 41, 60, 25, 30, 20]
L3=L1+L2
print(L3)

[20, 30, 25, 60, 41, 23, 78, 89, 89, 78, 23, 41, 60, 25, 30, 20]

In [55]:
L1=[20,30,25,60,41,23,78,89]
L2=[89, 78, 23, 41, 60, 25, 30, 20]
L1.extend(L2)
print(L1)

[20, 30, 25, 60, 41, 23, 78, 89, 89, 78, 23, 41, 60, 25, 30, 20]

In [71]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3=[i+j for i, j in zip(list1,list2)]
print(list3)

['My', 'name', 'is', 'Kelly']

In [72]:
#Turn every item of a list into its square

In [79]:
numbers = [1, 2, 3, 4, 5, 6, 7]
list1=[]
for i in numbers:
    numbers=i*i
    list1.append(numbers)
print(list1)

[1, 4, 9, 16, 25, 36, 49]

In [90]:
numbers = [1, 2, 3, 4, 5, 6, 7]
numbers=[i*i for i in numbers]
print(numbers)

[1, 4, 9, 16, 25, 36, 49]

In [91]:
#Concatenate two lists in the following order

In [109]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
list3=[i+j for i in list1 for j in list2]
print(list3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [114]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
list3=[]
for i in list1:
    for j in list2:
        list3=list3+[i+j]
print(list3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [115]:
#Iterate both lists simultaneously

In [116]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for i in list1:
    for j in list2[::-1]:
        print(i,j)

10 400
10 300
10 200
10 100
20 400
20 300
20 200
20 100
30 400
30 300
30 200
30 100
40 400
40 300
40 200
40 100

In [117]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list3=[print(i,j) for i,j in zip(list1,list2[::-1])]

10 400
20 300
30 200
40 100

In [118]:
#Remove empty strings from the list of strings

In [123]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
list2=list(filter(None,list1))
print(list2)

['Mike', 'Emma', 'Kelly', 'Brad']

In [124]:
#Add new item to list after a specified item
#Write a program to add item 7000 after 6000 in the following Python List

In [134]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2]
list1[2][2]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [135]:
#Extend nested list by adding the sublist

In [137]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

# sub list to add
sub_list = ["h", "i", "j"]
list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [138]:
#Replace list’s item with new value if found

You have given a Python list. Write a program to find value 20 in the list, and if it is present,
replace it with 200. Only update the first occurrence of an item.

In [144]:
list1 = [5, 10, 15, 20, 25, 50, 20]
list1.index(20)
list1[3]=200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

In [145]:
#Remove all occurrences of a specific item from a list

In [2]:
list1 = [5, 20, 15, 20, 25, 50, 20]
list2=[]
for i in list1:
    if i!=20:
        list2.append(i)
print(list2)

[5, 15, 25, 50]

In [3]:
list1 = [5, 20, 15, 20, 25, 50, 20]

while 20 in list1:
    list1.remove(20)
print(list1)

[5, 15, 25, 50]